<?xml version="1.0"?>
<!DOCTYPE uiml PUBLIC "-//OASIS//DTD UIML 4.0 Draft//EN"
        "http://docs.oasis-open.org/uiml/v4.0/cd02/uiml-4.0.dtd">
<uiml>
    <head>
        <meta name="title" content="Context"/>
    </head>
    <peers>
        <presentation source="presentation/jsf.uiml#bootstrap" base="JSF"/>
        <presentation source="presentation/jsf.uiml#jquery-mobile" base="JSF-MOBILE"/>
        <logic source="presentation/jsf.uiml#navigation" />
    </peers>
    <interface>
        <structure>
            <part id="page">
                <part id="container">
                    <part class="Form" id="ContextForm">
                        <part class="Field">
                            <part class="Label" id="ageLabel"/>
                            <part class="InputImage" id="ageImage"/>
                            <part class="List" id="age"/>
                            <part class="InputHelp" id="ageHelp"/>
                        </part>
                        <part class="Field">
                            <part class="Label" id="languageLabel"/>
                            <part class="InputImage" id="languageImage"/>
                            <part class="TextBox" id="language"/>
                            <part class="InputHelp" id="languageHelp"/>
                        </part>
                        <part class="Button" id="SubmitButton"/>
                    </part>
                </part>
            </part>
        </structure>
        <behavior source="template/default.uiml#beahvior" how="union">
        </behavior>
        <style>
            <property part-class="InputImage" name="rendered">
                <reference constant-name="renderImage"/>
            </property>
            <property part-name="ageImage" name="src">
                <constant source="images/child/age.jpg"/>
            </property>
            <property part-name="languageImage" name="src">
                <constant source="images/child/language.jpg"/>
            </property>

            <property part-name="InputHelp" name="rendered">
                <reference constant-name="renderHelp"/>
            </property>

            <property part-name="ageLabel" name="value">
                <reference constant-name="label"/>
            </property>

            <property part-name="languageLabel" name="value">
                <reference constant-name="label"/>
            </property>

            <property part-name="age" name="list">
                <call component-id="data" method-id="ages"/>
            </property>
            <property part-name="age" name="value">
                <call component-id="context" method-id="age"/>
            </property>

            <property part-name="language" name="value">
                <call component-id="context" method-id="language" />
            </property>

            <property part-name="SubmitButton" name="action">
                <call component-id="contextController" method-id="save"/>
            </property>
        </style>
        <content>
            <constant id="renderHelp" value="NO"/>
            <constant id="renderImage" value="NO"/>
        </content>

        <content id="EN" source="lang/en.uiml#en" />
        <content id="CS" source="lang/cs.uiml#cs" />

        <content id="Age.Elder">
            <constant id="renderHelp" value="YES"/>
        </content>
        <content id="Age.Child">
            <constant id="renderImage" value="YES"/>
        </content>
    </interface>
</uiml>