@media (max-width: 320px) {
    .field {
        -moz-box-orient: vertical;
    }

    #my-listbox listheader {
        display: none;
    }

    #my-listbox listcell:not(.main){
        display: none;
    }
}

